includes:
    - phpstan-baseline.neon

parameters:
    paths:
        - src
    inferPrivatePropertyTypeFromConstructor: true
    level: 4
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
